body {
    background-color: burlywood;

}

#main{
    display: flex;
    flex-wrap: wrap;
}

#gameover{
    position: fixed;
    left: calc(50% - 250px);
    top: calc(50% - 100px);
    height: 100px;
    width: 500px;
    color: #deb887;
    font-size: 35pt;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

#score{
    font-family: Helvetica, sans-serif;
    font-size: 30pt;
    font-weight: bold;
}

#myCanvas {
    background-color: #f5f5dc;
    position: relative;
    padding: 0;
    margin: auto;
    top: 60px;
    display: flex;
    border: 2px solid black;
}