body {
    background-color: burlywood;

}
#myCanvas {
    background-color: beige;
    position: relative;
    padding: 0;
    margin: auto;
    top: 60px;
    display: block;
    width: 1200px;
    height: 800px;
    display: flex;
    border: 2px solid black;

}