body {
    background-color: burlywood;

}

#main{
    display: flex;
    flex-wrap: wrap;
}

#gameover{
    position: absolute;
    left: 600px;
    top: 400px;
    color: burlywood;
    font-size: 35pt;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

#score{
    font-family: Helvetica, sans-serif;
    font-size: 30pt;
    font-weight: bold;
}

#myCanvas {
    background-color: beige;
    position: relative;
    padding: 0;
    margin: auto;
    top: 60px;
    display: flex;
    border: 2px solid black;
}